* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: papayawhip;
    font-family: "Ubuntu", sans-serif;
}

.centrado {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    border: 2px groove black;
}

@media screen and (min-width:768px){
    .centrado {
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

nav {
    font-size: large;
}

.logo {
    width: 45px;
}

.bgtiles {
    background-image: url(./../img/beige-tiles.png);
}
